body{
  font-family: Arial, Verdana;
  color: #ffffff;
  background-color: #000000;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
}

h1{
  font-size: 42px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
}

h2{
  font-size: 30px;
  color: #0D0D0D;
}

p{
  font-size: 24px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
}

img{
  width: 250px;
  margin: auto;
  display: block;
  border-style: dashed;
  border-color: #ffffff;
  border-width: 10px;
}

body div{
  min-height: 125px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 3px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

body .introduction{
  margin-top: 15px;
  /* margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px; */
  border-radius: 15px;
  line-height: 2;
}

body .red{
  background-color: #ff0000;
  margin-left: 50px;
  text-align: right;
  border-top-width:0px;
  border-right-width: 0px; 
  border-bottom-width: 2px;
  border-left-width: 5px;
  /* border-right: 0px;
  border-top: 0px; */
}

body .blue{
  background-color: #0000ff;
  text-align: left;
  margin-right: 50px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top-width: 2px;
  border-right-width: 5px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  color: #C4C4C4;
}

body .blue h2{
  color: #C4C4C4;
}

body .yellow{
  background-color: #ffff00;
  text-align: right;
  margin-left: 50px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom-width: 2px;
  border-left-width: 5px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #707070;
}

body .green{
  background-color: #008500;
  text-align: left;
  margin-right: 50px;
  border-right-width: 5px;
  border-top-width: 2px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}

footer{
  border-style: solid;
  border-width: 5px;
  border-color: #ffffff;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 25%, rgba(0,102,255,1) 70%, rgba(0,0,0,1) 100%);
}

footer p{
  font-size: 20px;
  text-align: right;
  padding-left: 0px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
}